body{
      margin: 0px;
      height: auto;
}
.container { 
        background: #f6f9fb;
}
.header{
}
.mid-header{
    background-color: rgb(8, 104, 128);
    padding: 15px;
}
.min-header{
    color: black;
    font-size: 12px;
    list-style: none;
    padding: 20px 0px;
    display: inline;
    text-decoration: underline;
    

}
.a-min-header{
    color: #eee;
    margin: 5px;

}
.search{
    float: right;
}
.row{
    color: black;
    display: flex;
    border-bottom: outset;
    
}
.logo{
    max-width: 110px;
    width: 100%;
    height: auto;
    padding: 25px;
}
.text-header{
 padding: 35px;
 margin-left: 250px;
 width: fit-content;
}
.text-header-s{
    width: fit-content;
    text-align: center;
}
.text-head-box{
    background-color: rgb(4, 221, 69);
    border-radius: 6px;
    padding: 10px;
    color: #ffffff;
}
.min-muen{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    height: 27px;
    display: block;
}
.muen-link{
    padding: 15px 7px;
    font-size: 25px;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
    padding: 7px 6px;
    line-height: 1;
    text-shadow: 1px 0px 1px #b3cce6;
    letter-spacing: -0.3px;
    color: #233a4e;
    border-top: #b3cce6;
}
.courses-catagroe{
    width: 100%;
    background: url(./img/tekno\ 2.jpg);
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: outset
}
.pgtitle{
    float: left;
    width: auto;
    text-shadow: none;
    font-size: 34px;
    padding: 5px 25px 15px;
}
.top-courses{
    padding: 35px 20px;
    top: 4px;
    float: right;
}
.link-courses{
padding: 8px;
background-color: rgb(10, 238, 10);
border-radius: 6px;
}
.courses-catgore{
    position: absolute;
    margin-top: 80px;
    padding: 20px;
    
}
.courses-catgore-link{
    padding: 5px 15px;
    border-radius: 6px;
    
    color: #ffffff;

    background-color: rgba(13, 61, 101, 0.27);
}
.courses-e{
    width: 300px;
    height: 300px;
    display: table-cell;
    float: right;
}
.tut{
    padding: 0px 5px 0px 5px;
    width: 150PX;
    

}
.imgc{
    width: 200px;
    height: 200px;
}
.cdvbody{
    width: fit-content;
    color: #233a4e;
    
}
.cdvdownload{

    margin: 50PX;
    

}
.btn-primary{
    background: #233a4e;
    border-radius: 6px;
    color: #eee;
    font-size: 20px;
    text-align: center;
    width: 50PX;
    padding: 10PX 30PX;
}
.sidbar{
    
    position: relative;
    /*margin-left: -15px;
	width: 25%;
    margin-right: -15px;*/
}
.content{
    margin-top: 300px;
    vertical-align: baseline;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
 text-align: justify;   
}
.site-bottom{
    background: #17375e;
    color: rgba(162, 176, 208, 1);
    border-top: solid 2px #49678a;
}


.cont-footer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.widget-title{
    font-family: 'PT Serif', serif;
    color: rgba(162, 176, 208, 1);
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}
.text-widget{
    color: #f6f9fb;
}
.text-footer{
    width: 50%;
}
.contact-widget{
    padding: 10px 5px;
}
.mid-widget{
    width: 25%;
    float: left;
}
.vaneusbottom{
    margin-bottom: 20px;
    display: block;
}
.bvsrow{
    clear: both;
    display: table-cell;
    width: 210px;

}
.qualitylogosblock{
    margin: 0px auto;
}
.footer-logo{
    opacity: 0.5;
    max-width: 100px;
    width: 100%;
}
.text-widget span{
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: justify;
}
.blogosrow{
    clear: both;
    display: table-cell;
    width: 50px;
    height: 50px;
}
.col-md{
    width: 25%;
    float: left;
}
.bsocial{
    margin: 0px;
    padding: 0px;
    opacity: 0.5;
}
.site-footer{
background: #17375e;
}

.col-footer{
    width: 50%;
}
.copy-footer{
    width: fit-content;
}
.nav-footer{
    padding: 6px 0px;
}
.nav-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.nav-footer li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    line-height: 1;
}
.nav-footer a {
    color: #7489ab;
    display: inline-block;
    font-family: 'PT Serif', serif;
    font-size: 8pt;
    text-transform: uppercase;
    text-align: right;
}
.search-icon{
	position: absolute;
    display: block;
    right: 13px;
    top: 6px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
}
.search-icon img{
	width:100%;
}
.serach-list{
margin-bottom: 15px;
}