*{
    
}
.coursedetailstitle{
    height :224px;
    width :1325px;
    border: solid 5px;
    padding: 10px;
    padding-top: 0px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a{
    display: block;
    padding-right: 25px;
    float: left;
    
}
.tut{
   height: 250px;
   width: 362px;
   padding: 0px 10px 0px 5px; 
}
.imgc{
    height: 250px;
    width: 250px;
    padding: 15px;
}
.tbody{
    width: 70%;
    float: right;
}
.sidbar{
    width: 28%;

}
.imgser{
    width: 25px;
    height: 25px;
    float: 5px;
}
.text{
    width: 1000px;
    height: 200px;
    margin: 0px 0px 0px;
    padding: 60px;
    margin-bottom: 30px;
    

    
}



